<!-- STEP 1 - Select language -->
<div *ngIf="currentStep === 1" class="fadeIn language-container">
  <mat-form-field class="language-input" appearance="fill">
    <mat-label>Select a Language</mat-label>
    <mat-select [formControl]="selectedLanguage" disableRipple>
      <mat-select-trigger *ngIf="selectedLanguage.value">
        <img class="flag" src="../assets/flags/{{selectedLanguage.value.Icon}}.png">
        <span>{{selectedLanguage.value.Name}}</span> 
      </mat-select-trigger>
      <mat-option *ngFor="let language of languages" [value]="language" [disabled]="!language.Available">
        <img class="flag" src="../assets/flags/{{language.Icon}}.png">
        <span>{{language.Name}}</span>
        <span *ngIf="!language.Available" class="language-unavailable">(coming soon)</span>
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<!-- STEP 2 - Select interests -->
<lwl-descriptor-view *ngIf="currentStep === 2" [categories]="interests" [(selectedDescriptors)]="selectedInterests"></lwl-descriptor-view>

<!-- STEP 3 - Select occupations -->
<lwl-descriptor-view *ngIf="currentStep === 3" [categories]="occupations" [(selectedDescriptors)]="selectedOccupations"></lwl-descriptor-view>

<!-- STEP 4 - Done -->
<div *ngIf="currentStep === 4" class="fadeIn summary-container">
  <h1>All done! We'll use the information you provided to create lessons that are tailored to you.</h1>
  <div *ngIf="selectedOccupations.length === 0" class="warning-box">
    <mat-icon>warning</mat-icon>
    <span>We noticed you didn't select an occupation. While it's not required, selecting at least one occupation that best describes what you do will help us improve your learning experience.</span>
  </div>
  <div class="begin-lessons">
    <button>Begin Lessons</button>
  </div>
</div>

<lwl-nav-footer
  [stepNumber]="currentStep"
  [showStepNumber]="currentStep !== 4"
  [stepText]="getHintText()"
  [stepBackDisabled]="stepBackDisabled()"
  [stepNextDisabled]="stepNextDisabled()"
  (stepBack)="stepBack()"
  (stepNext)="stepNext()">
</lwl-nav-footer>

<mat-icon *ngIf="currentStep === 2 || currentStep === 3" class="feedback fadeIn" (click)="openFeedbackDialog()" matTooltip="Feedback" matTooltipPosition="right">feedback</mat-icon>
