<!-- <div *ngIf="currentStep === 1" class="fadeIn language-container"> -->
<div class="fadeIn language-container">
  <mat-form-field class="language-input" appearance="fill">
    <mat-label>Select a Language</mat-label>
    <mat-select (selectionChange)="languageSelected()" [formControl]="selectedLanguage" disableRipple>
      <mat-select-trigger *ngIf="selectedLanguage.value">
        <img class="flag" src="../assets/{{selectedLanguage.value.Icon}}.png">
        <span>{{selectedLanguage.value.Name}}</span> 
      </mat-select-trigger>
      <mat-option *ngFor="let language of languages" [value]="language" [disabled]="!language.Available">
        <img class="flag" src="../assets/{{language.Icon}}.png">
        <span>{{language.Name}}</span>
        <span *ngIf="!language.Available" class="language-unavailable">(coming soon)</span>
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<lwl-step-navigator [stepTitle]="stepTitle" [stepText]="stepText" disableBackwardNav="true" [disableForwardNav]="!selectedLanguage.value" (navigateForward)="navigateForward()"></lwl-step-navigator>
