.step-nav {
    background-color: #fafafa;
    left: 0;
    padding: 10px 0;
    position: fixed;
    width: 100%;

    &.bottom {
        bottom: 0;
        border-top: 1px solid #eee;
    }

    &.top {
        top: 0;
        border-bottom: 1px solid #eee;
    }

    .step-nav-content {
        display: flex;
        margin: 0 30px;
    }

    .step-text {
        color: #555;
        margin-top: 8px;
    }

    .step-title {
        display: none;
        margin-right: 10px;
        font-weight: 500;
    }

    button {
        margin-left: 8px;
    }
}

@media only screen and (min-width: 426px) {
    .step-title {
        display: inline !important;
    }
}
