@import '~@angular/material/theming';

@mixin splash-page-theme($theme) {
    $primary: map-get($theme, primary);

    #splash-cover {
        background-color: mat-color($primary);
        color: #fff;
    }

    a {
        background-color: transparent;
        color: #fff;

        &:hover {
            background-color: #fff;
            color: mat-color($primary);
        }
    }
}
