<div id="splash-cover">
  <div id="splash-container">
      <h1 class="title mat-display-1">LINGWELL</h1>
      <h1 class="headline">
        <div class="subject">Language learning, made</div>
        <div class="adjectives">
            <div class="adjective one" style="position: absolute;">easy.</div>
            <div class="adjective two" style="position: absolute;">fun.</div>
            <div class="adjective three">for you.</div>
        </div>
      </h1>
      <a routerLink="/getting-started">
        <span>Start Learning</span>
        <mat-icon>keyboard_arrow_right</mat-icon>
      </a>
  </div>
</div>
