@import '~@angular/material/theming';

$config: mat-typography-config();

.splash-container {
    position: fixed;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
}

button {
    @include mat-typography-level-to-styles($config, button);
    animation: showUp 1s ease 0s 1 forwards;
    margin: 60px 0;
    background-color: transparent;
    box-shadow: none;
    padding: 20px 30px;
    font-size: 1.3em;
    border-radius: 35px;
    color: white;
    border: 2px solid #fff;
    cursor: pointer;
    transition: background-color .3s ease-in-out, color .3s ease-in-out, border .3s ease-in-out;
    outline: none;

    &:hover {
        background-color: #fff;
        border: 2px solid transparent;
        color: #66ba6a;
    }

    mat-icon {
        animation: slide1 1s ease-in-out infinite;
        vertical-align: middle;
    }
}

h1 > div {
    display: inline-block;
}

@keyframes slide1 {
    0%, 100% {
      transform: translate(0, 0);
    }
  
    50% {
      transform: translate(10px, 0);
    }
  }

  .title {
      animation: showUp 1s ease 0s 1 forwards;
      letter-spacing: 3px;
      margin-bottom: 20px;
  }

  .headline {
    animation: showUp 1s ease 0s 1 forwards;
      letter-spacing: 2px;
      text-align: center;
  }

  .subject {
      margin-right: 10px;
  }
  
.adjective {
    opacity: 0;

    &.one {
        animation: rolodex-first 2s ease 0s forwards;
        opacity: 1;
    }

    &.two {
        animation: rolodex 2s ease 1.8s forwards;
    }

    &.three {
        animation: rolodex-final 2s ease 3.6s forwards;
    }
}

@keyframes showUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

  @keyframes rolodex {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }

    25% {
        opacity: 1;
        transform: translateY(0px);
    }

    75% {
        opacity: 1;
        transform: translateY(0px);
    }
    
    100% {
        opacity: 0;
        transform: translateY(30px);
    }
  }

  @keyframes rolodex-first {
    0% {
    }

    25% {
    }

    75% {
        opacity: 1;
        transform: translateY(0px);
    }
    
    100% {
        opacity: 0;
        transform: translateY(30px);
    }
  }

  @keyframes rolodex-final {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }

    25% {
        opacity: 1;
        transform: translateY(0px);
    }

    75% {
        opacity: 1;
        transform: translateY(0px);
    }
    
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
  }
  