@import '~@angular/material/theming';

$config: mat-typography-config();

#splash-cover {
    background: radial-gradient(circle at top right, #4CAF50 -10%, #66BB6A 50%);
    color: #fff;
    height: 100vh;
    text-align: center;
}

#splash-container {
    left: 50%;
    max-width: 100vw;
    min-width: 300px;
    position: fixed;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.title {
    animation: show-up 1s ease 0s 1 forwards;
    letter-spacing: 3px;
    margin-bottom: 20px;
}

.headline {
    animation: show-up 1s ease 0s 1 forwards;
    letter-spacing: 2px;
    text-align: center;

    .subject, .adjectives {
        display: inline-block;
    }

    .adjectives {
        position: relative;

        .adjective {
            opacity: 0;
        
            &.one {
                animation: rolodex-first 2s ease 0s forwards;
                opacity: 1;
            }
        
            &.two {
                animation: rolodex 2s ease 1.8s forwards;
            }
        
            &.three {
                animation: rolodex-final 2s ease 3.6s forwards;
            }
        }
    }

    .subject {
        margin-right: 10px;
    }
}

button {
    @include mat-typography-level-to-styles($config, button);
    animation: show-up 1s ease 0s 1 forwards;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 35px;
    box-shadow: none;
    color: white;
    cursor: pointer;
    font-size: 1.3em;
    margin-top: 60px;
    outline: none;
    padding: 20px 30px;
    transition: background-color .3s ease-in-out, color .3s ease-in-out, border .3s ease-in-out;
    
    &:hover {
        background-color: #fff;
        border: 2px solid transparent;
        color: #66ba6a;
    }

    mat-icon {
        animation: infinite-slide 1s ease-in-out infinite;
        vertical-align: middle;
    }
}

@keyframes infinite-slide {
    0%, 100% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(10px, 0);
    }
}

@keyframes show-up {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes rolodex {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }
    25% {
        opacity: 1;
        transform: translateY(0px);
    }
    75% {
        opacity: 1;
        transform: translateY(0px);
    }
    100% {
        opacity: 0;
        transform: translateY(30px);
    }
}

@keyframes rolodex-first {
    0%, 25% { }
    75% {
        opacity: 1;
        transform: translateY(0px);
    }
    100% {
        opacity: 0;
        transform: translateY(30px);
    }
}

@keyframes rolodex-final {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }
    25% {
        opacity: 1;
        transform: translateY(0px);
    }
    75% {
        opacity: 1;
        transform: translateY(0px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
  