<div style="height: 100vh;background: radial-gradient(circle at top right, #4CAF50 -10%, #66BB6A 50%); text-align: center; color: #fff;">
  <h1 class="mat-display-2">Lingwell</h1>
  <h1 class="headline">
    <div class="subject">Language learning,</div>
    <div style="display: inline-block; position: relative;">
        <div class="adjective one" style="position: absolute;">made easy.</div>
        <div class="adjective two" style="position: absolute;">made fun.</div>
        <div class="adjective three">personalized.</div>
    </div>
    
  </h1>
  <button style="margin: 60px 0;" routerLink="/getting-started">
    <span>Start Learning</span>
    <mat-icon>keyboard_arrow_right</mat-icon>
  </button>
</div>
