<div class="fadeIn summary-container">
    <!-- <div *ngIf="currentStep === 4" class="fadeIn summary-container"> -->
  <h1>All done! We'll use the information you provided to create lessons that are tailored to you.</h1>
  <!-- <div *ngIf="selectedOccupations.length === 0" class="warning-box">
    <mat-icon>warning</mat-icon>
    <span>We noticed you didn't select an occupation. While it's not required, selecting at least one occupation that best describes what you do will help us improve your learning experience.</span>
  </div> -->
  <div class="begin-lessons">
    <button>Begin Lessons</button>
  </div>
</div>
